@import "./variables.scss";
@import "./mixins.scss";

.#{$classPrefix}-footer {
    display: flex;
    justify-content: space-between;
text-align: left;
 button {
    margin-left: 5px;
    background-color: transparent;
    color: $selectedColor;
    outline: 0;
    border: 0;
    cursor: pointer;
    @include transition-text
    &:hover {
        color: darken($selectedColor, 10);
        text-shadow: 0 0 1px $selectedColor;
    }
    &:last-child {
        margin: 0;
    }
}
}